<div class="ui container">
  <div class="ui two column centered grid">
    <div class="column">
      <div class="ui form">
        <h2 class="ui dividing header">Edit Your Profile</h2>
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>